# This is Git's per-user configuration file.
[user]
	name = Pedro Luz
	email = pedromsluz@gmail.com
# Please adapt and uncomment the following lines:
#	name = Pedro Luz
#	email = pedroluz@MacBook-Pro-10.local
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = master
