*.~*
./backups
elpa/
myinit.el
network-security.data
recentf
samples/
\#myinit.el#
ac-comphist.dat
org-clock-save.el
.authinfo
.mc-lists.el
.org-id-locations
auto-save-list/
emms/
projectile*
*.log
session.*
lib/
transient
url
